AIRTABLE_API_TOKEN=
AIRTABLE_BASE_ID=appn84sqPw03zEbTT

NEXT_PUBLIC_BASE_PATH=/shoot
NEXT_PUBLIC_LANDING_URL=https://www.hoopchallenges.com
NEXT_PUBLIC_SITE_URL=https://www.hoopchallenges.com/shoot

SITE_ACCESS_TOKEN=
NEXT_PUBLIC_GAME_MANUAL_URL=
